* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  transform: rotateX(5deg) rotateY(5deg);
  transition: transform 0.3s ease-in-out;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
  transform: rotateX(5deg) rotateY(5deg);
  transition: transform 0.3s ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: #ef7707;
  transform: rotateX(10deg) rotateY(10deg);
}
.result {
  font-size: 20px;
  padding: 10px;
  margin: 0  1650px 20px 0;
  border-radius: 5px;
  background: #f2f2f2;
  text-align: left;
 
}

  



